
@{
    ViewData["Title"] = "ContactUs";
}
<style>
.centerContainer {
    text-align: center;
}

.centerContainer h1 {
    margin-bottom: 20px; 
}
</style>

<div class="centerContainer">
    <h1>ContactUs</h1>
    <img src="/Images/ContactUs.jpg" height= "300" width="600" >
</div>

<body>
    <div class="centerContainer">
    <h2>You are able to contact us via these platforms</h2>
    <img src="/Images/Platform1.png" height="150" width="150">
    <img src="/Images/Platform2.jpg" height="150" width="250">
    <img src="/Images/Platform3.png" height="150" width="150">
    <img src="/Images/Platform4.png" height="150" width="250">
    </div>
</body>