
@{
    ViewData["Title"] = "MyWork";
}

<h1>MyWork</h1>

<body>
    <h2>These are some of our products</h2>
    <div class="container">
        <div class="product-image">
            <img src="~/Images/Handmade.png" alt="Product Image" width="350" height="250">
        </div>
        <div class="product-info">
            <h1 class="product-title">Handcrafted Necklace</h1>
            <p class="product-price">R450</p>
            <p class="product-description">This beautiful handcrafted necklace is made with high-quality materials.</p>
                <p class="product-description">It's perfect for any occasion and makes a great gift.</p>
        </div>
    </div>

    <div class="container">
        <div class="product-image">
            <img src="~/Images/Handmade2.jpg" alt="Product Image" width="350" height="250">
        </div>
        <div class="product-info">
            <h1 class="product-title">Handcrafted Bracelet</h1>
            <p class="product-price">R350</p>
            <p class="product-description">This beautiful handcrafted Bracelet is made with high-quality materials.</p>
            <p class="product-description">It's perfect for any occasion and makes a great gift.</p>
        </div>
    </div>

     <div class="container">
        <div class="product-image">
            <img src="~/Images/Handmade3.jpg" alt="Product Image" width="350" height="250">
        </div>
        <div class="product-info">
            <h1 class="product-title">Handcrafted Earring</h1>
            <p class="product-price">R250</p>
            <p class="product-description">This beautiful handcrafted Earrings is made with high-quality materials.</p>
            <p class="product-description">It's perfect for any occasion and makes a great gift.</p>
        </div>
    </div> 

    <div class="container">
        <div class="product-image">
            <img src="~/Images/Handmade4.jpg" alt="Product Image" width="350" height="250">
        </div>
        <div class="product-info">
            <h1 class="product-title">Handcrafted Ring</h1>
            <p class="product-price">R250</p>
            <p class="product-description">This beautiful handcrafted Ring is made with high-quality materials.</p>
            <p class="product-description">It's perfect for any occasion and makes a great gift.</p>
        </div>
    </div>

</body>

