
@{
    ViewData["Title"] = "About";
}

 <style>
    header {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
 </style>

<body>
    <div class="text-center">
        
        <header><h1>About</h1></header>
        <h1>Register Now!</h1>
        <p>KhumaloCraft Emporium is a handcraft store that sells quality items that have been handcrafted by various artisans.</p>
        <p>We hope to grow our audience to people all around the world to allow our artisans to geth there work to the discerning audience</p>
        <img src="/Images/OnlineStore.png" alt="picture" height="150" width="300">


        <form action="About" method="post">
            <p>Please enter your first and last name and email:</p>
            <input type="text" name="Name" placeholder="Name" required>
            <input type="text" name="Surname" placeholder="Surname" required>
            <input type="text" name="Email" placeholder="example@gmail.com" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>


