
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>KhumaloCraft Emporium is a handcraft store that sells quality items that have been handcrafted by various artisans.</p>
<p>We hope to grow our audience to people all around the world to allow our artisans to geth there work to the discerning audience</p>
<img src = "/Images/OnlineStore.png" alt="picture" >

<body>
   <form action = "About" method = "post">
    <p>Plese enter your first and last name:</p>
    <input type="text" name="user_Name" placeholder=" Name">
    <input type="text" name="user_Surname" placeholder=" Surname">
    <input type="text" name="user_Email" placeholder=" Email">
    <button type="submit">Submit</button>
   </form>
</body>


